body {
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: linear-gradient(120deg, #294fb9, #2779a8);
    height: 100vh;
    overflow: hidden;
    font-family: 'https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap';
}

/* navbar */
nav {
    background-color: #333;
    color: #fff;

}

.nav-con {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    margin-left: 9rem;
    margin-right: 9rem;
}

ul.menu {
    display: flex;
    list-style: none;
}

ul.menu li {
    margin: 0 1rem;
}

ul.menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 12pt;
}

ul.menu li a:hover {
    color: yellow;
    transition: .5s;
}