body {
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: linear-gradient(120deg, #294fb9, #2779a8);
    height: 100vh;
    overflow: hidden;
    font-family: 'https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap';
}

/* navbar */
nav {
    background-color: #333;
    color: #fff;

}

.nav-con {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    margin-left: 9rem;
    margin-right: 9rem;
}

ul.menu {
    display: flex;
    list-style: none;
}

ul.menu li {
    margin: 0 1rem;
}

ul.menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 12pt;
}

ul.menu li a:hover {
    color: yellow;
    transition: .5s;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.center h1 {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
}

.center form {
    padding: 20px;
    box-sizing: border-box;
}

form .txt_field {
    position: relative;
    margin: 20px 0;
}

.txt_field input {
    width: 100%;
    padding: 10px 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}

.txt_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: 0.5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
    top: -5px;
    color: #2691d9;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
    width: 100%;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fbfb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin: 20px 0;
}

input[type="submit"]:hover {
    border-color: #2691d9;
    transition: 0.5s;
}

#error_message {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 20px;
}