<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Article</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- icon -->
    <link href="{{ url_for('static', filename='img/header/logo.png') }}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{{ url_for('static', filename='lib/animate/animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <div class="container-fluid sticky-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark p-0">
                <a href="{{ url_for('index') }}" class="navbar-brand">
                    <h1 class="text-white">SCENTSPECTRUM</h1>
                </a>
                <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto">
                        <a href="{{ url_for('index') }}" class="nav-item nav-link active">Home</a>
                        <a href="{{ url_for('perfume') }}" class="nav-item nav-link">Perfumes</a>
                        <a href="{{ url_for('brand') }}" class="nav-item nav-link">Brands</a>
                        <a href="{{ url_for('idoluse') }}" class="nav-item nav-link">Idoluse</a>
                        <a href="{{ url_for('article') }}" class="nav-item nav-link">Articles</a>
                        <a href="{{ url_for('faq') }}" class="nav-item nav-link">FAQs</a>
                        <a href="{{ url_for('about') }}" class="nav-item nav-link">About</a>
                        <a href="{{ url_for('contact') }}" class="nav-item nav-link">Contact</a>
                        <a href="{{ url_for('login') }}" class="nav-item nav-link">LOGIN</a>
                        <a href="{{ url_for('register') }}" class="nav-item nav-link">REGISTER</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Hero Start -->
    <div class="container-fluid pt-5 bg-primary hero-header">
        <div class="container pt-5">
            <div class="row g-5 pt-5">
                <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
                    <h1 class="display-4 text-white mb-4 animated slideInRight">Articles</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center justify-content-lg-start mb-0">
                            <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Articles</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->

    <!-- article Start -->

    <div class="container-fluid">
        <div class="row">
            <!-- Main Content (3/4 of display) -->
            <div class="col-lg-9">
                <div class="container-xxl py-5" id="Ar1">
                    <div class="container py-5">
                        <div class="row g-5">
                            <div class="col-lg-12 wow fadeIn" data-wow-delay="0.1s">
                                <div class="accordion" id="accordionFAQ1">
                                    <!-- Article 1 -->
                                    <div class="article mb-4">
                                        <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Articles
                                        </div>
                                        <h1 class="mb-4">A Guide to the World of Fragrance</h1>
                                        <p class="mb-4">In the enchanting realm of perfumery, Jane Doe, a distinguished
                                            Perfume Expert, invites you to delve into the essence of fragrance. In this
                                            brief guide, we explore the fundamentals of perfume, its diverse types, and
                                            the art of selecting the perfect scent for any occasion.</p>

                                        <div class="accordion" id="accordionFAQ1">
                                            <div class="accordion-item wow fadeIn" data-wow-delay="0.1s" id="Ar2">
                                                <h2 class="accordion-header" id="headingOne">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                                        aria-expanded="false" aria-controls="collapseOne">
                                                        Full Article
                                                    </button>
                                                </h2>
                                                <div id="collapseOne" class="accordion-collapse collapse"
                                                    aria-labelledby="headingOne" data-bs-parent="#accordionFAQ1">
                                                    <div class="accordion-body-for-article">
                                                        <div class="article">
                                                            <div class="header">
                                                                <h1>A Guide to the World of Fragrance</h1>
                                                                <p>By Jane Doe, Perfume Expert</p>
                                                            </div>
                                                            <div class="article">
                                                                <h2>What is Perfume?</h2>
                                                                <p>Perfume is a liquid scent that is applied to the skin
                                                                    to create a pleasant fragrance. It is typically
                                                                    composed of three main components: top notes, middle
                                                                    notes, and base notes. Top notes are the lightest
                                                                    and most fleeting fragrances, followed by middle
                                                                    notes, which are more persistent, and finally, base
                                                                    notes, which are the most enduring fragrances.</p>
                                                                <h2>Types of Perfume</h2>
                                                                <p>There are several types of perfume, including:</p>
                                                                <ul>
                                                                    <li>Eau de Toilette (EDT): This is the most common
                                                                        type of perfume. It is a light, fresh fragrance
                                                                        that is ideal for daytime wear.</li>
                                                                    <li>Eau de Parfum (EDP): EDP is a more concentrated
                                                                        version of EDT. It has a longer lasting
                                                                        fragrance and is ideal for both day and evening
                                                                        wear.</li>
                                                                    <li>Colognes: Colognes are a more concentrated form
                                                                        of perfume. They are typically used for
                                                                        aftershave and cologne. Colognes are also
                                                                        available in EDT and EDP varieties.</li>
                                                                </ul>
                                                                <h2>Choosing the Right Perfume</h2>
                                                                <p>When choosing the right perfume, it is important to
                                                                    consider factors such as your skin type, the desired
                                                                    fragrance, and the occasion for which you will be
                                                                    wearing the perfume.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Article 1 -->
                                    <div class="article mb-4">
                                        <div></div>
                                        <h1 class="mb-4">The Perfect Unisex Fragrance for Every Occasion</h1>
                                        <p class="mb-4">Are you on the quest for the ultimate unisex fragrance that
                                            seamlessly transitions from adventure to work, and from a night party to
                                            everyday use? Look no further! Discover the perfect scent that captures the
                                            essence of every occasion. Click here to delve into the world of versatile
                                            fragrances that add a touch of sophistication to your daily life.</p>

                                        <div class="accordion" id="accordionFAQ1">
                                            <div class="accordion-item wow fadeIn" data-wow-delay="0.1s" id="Ar3">
                                                <h2 class="accordion-header" id="headingTwo">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                        aria-expanded="false" aria-controls="collapseTwo">
                                                        Full Article
                                                    </button>
                                                </h2>
                                                <div id="collapseTwo" class="accordion-collapse collapse"
                                                    aria-labelledby="headingTwo" data-bs-parent="#accordionFAQ1">
                                                    <div class="accordion-body-for-article">
                                                        <div class="article">
                                                            <div class="header">
                                                                <h1>The Perfect Unisex Fragrance for Every Occasion</h1>
                                                                <p>By Lia Jones , Perfume Expert</p>
                                                            </div>
                                                            <div class="article">
                                                                <p>In the realm of personal expression and style,
                                                                    finding the right fragrance is akin to discovering a
                                                                    signature accessory that resonates with your
                                                                    personality. The journey toward the perfect unisex
                                                                    fragrance involves a delicate balance of notes and
                                                                    versatility, ensuring it harmonizes with various
                                                                    aspects of your life.</p>
                                                                <h2>Adventure: Creed Aventus</h2>
                                                                <p>For the spirited souls seeking olfactory
                                                                    companionship during outdoor escapades, Creed
                                                                    Aventus emerges as a beacon of invigorating scents.
                                                                    With a dynamic blend of pineapple, bergamot, and
                                                                    blackcurrant interwoven with smoky woods, Aventus
                                                                    captures the essence of adventure. It's a fragrant
                                                                    celebration of energy and exploration, making it an
                                                                    ideal companion for thrilling excursions.</p>
                                                                <h2>Work: Maison Margiela Replica - Jazz Club</h2>
                                                                <p>Navigating the professional realm demands a fragrance
                                                                    that strikes the perfect balance between subtlety
                                                                    and sophistication. Maison Margiela's Jazz Club,
                                                                    with its notes of tobacco, rum, and vanilla, crafts
                                                                    an olfactory narrative of warmth and refinement.
                                                                    It's the olfactory equivalent of a tailored suit,
                                                                    making it an impeccable choice for the workplace.
                                                                </p>
                                                                <h2>Night Party: Yves Saint Laurent Black Opium</h2>
                                                                <p>As the sun sets and the city comes alive, the allure
                                                                    of Yves Saint Laurent's Black Opium takes center
                                                                    stage. The enticing combination of coffee, vanilla,
                                                                    and white flowers creates a captivating scent that
                                                                    complements the vibrant atmosphere of night parties.
                                                                    Black Opium transforms the night into a sensorial
                                                                    experience, leaving an unforgettable impression.</p>
                                                                <h2>Fit for Every Situation: Chanel Gabrielle Chanel
                                                                </h2>
                                                                <p>The quest for a fragrance that seamlessly transitions
                                                                    through the myriad facets of life concludes with
                                                                    Chanel's Gabrielle Chanel. This well-balanced floral
                                                                    composition, featuring notes of jasmine,
                                                                    ylang-ylang, and orange blossom, exudes timeless
                                                                    elegance. Gabrielle Chanel is the olfactory
                                                                    chameleon, effortlessly adapting to every situation,
                                                                    from casual outings to formal gatherings.</p>
                                                                <p>Embark on a fragrant journey that transcends the
                                                                    boundaries of occasion. Each of these perfumes is a
                                                                    carefully curated masterpiece, offering a unique
                                                                    olfactory experience tailored to different facets of
                                                                    your life. Elevate your personal style with scents
                                                                    that resonate with your spirit.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Article 1 -->
                                    <div class="article mb-4">
                                        <div></div>
                                        <h1 class="mb-4">aespa's Fragrance Palette: Exploring the Unique Scents Chosen
                                            by Each Member</h1>
                                        <p class="mb-4">Embark on a fragrant journey as we unveil the distinctive
                                            perfume choices of aespa's members. From the freshness of Jo Malone to the
                                            sophistication of Maison Louis Marie, each scent tells a story, reflecting
                                            the individuality of Karina, Winter, Giselle, and NingNing. Click here to
                                            immerse yourself in the captivating world of aespa's chosen fragrances.</p>

                                        <div class="accordion" id="accordionFAQ1">
                                            <div class="accordion-item wow fadeIn" data-wow-delay="0.1s" id="Ar4">
                                                <h2 class="accordion-header" id="headingThree">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                                        aria-expanded="false" aria-controls="collapseThree">
                                                        Full Article
                                                    </button>
                                                </h2>
                                                <div id="collapseThree" class="accordion-collapse collapse"
                                                    aria-labelledby="headingThree" data-bs-parent="#accordionFAQ1">
                                                    <div class="accordion-body-for-article">
                                                        <div class="article">
                                                            <div class="header">
                                                                <h1>aespa's Fragrance Palette: Exploring the Unique
                                                                    Scents Chosen by Each Member</h1>
                                                                <p>By Big Brother , aespa big fans</p>
                                                            </div>
                                                            <div class="article">
                                                                <p>In the multifaceted world of aespa, each member
                                                                    brings a unique essence to the group, not only
                                                                    through music and visuals but also through the
                                                                    scents they choose to wear. Let's unravel the
                                                                    olfactory preferences of Karina, Winter, Giselle,
                                                                    and NingNing, and explore the stories their chosen
                                                                    perfumes tell.</p>
                                                                <h2>Karina's Choice: Jo Malone Blackberry and Bay
                                                                    Cologne</h2>
                                                                <ul>
                                                                    <li>Notes: A harmonious blend of blackberry, bay
                                                                        leaves, and cedarwood.</li>
                                                                    <li>Karina's choice of Jo Malone Blackberry and Bay
                                                                        Cologne reveals her preference for a fresh and
                                                                        fruity fragrance. The combination of blackberry
                                                                        and bay leaves creates a lively and vibrant
                                                                        scent that mirrors her dynamic presence within
                                                                        aespa.</li>
                                                                </ul>
                                                                <h2>Winter's Choice: Acqua di Parma Colonia</h2>
                                                                <ul>
                                                                    <li>Notes: A classic and timeless composition with
                                                                        citrus, lavender, and rosemary.</li>
                                                                    <li>Winter's selection of Acqua di Parma Colonia
                                                                        showcases her appreciation for timeless
                                                                        elegance. The citrusy and aromatic notes evoke a
                                                                        sense of sophistication, aligning perfectly with
                                                                        Winter's graceful and refined persona.</li>
                                                                </ul>
                                                                <h2>Giselle's Choice: Maison Louis Marie No. 4 Bois de
                                                                    Balincourt</h2>
                                                                <ul>
                                                                    <li>Notes: A warm and woody blend featuring
                                                                        sandalwood, cedarwood, and vetiver.</li>
                                                                    <li>Giselle's fragrance preference leans towards the
                                                                        earthy and woody tones of Maison Louis Marie No.
                                                                        4 Bois de Balincourt. This choice reflects her
                                                                        grounded and natural aura, adding a touch of
                                                                        warmth and authenticity to the ensemble.</li>
                                                                </ul>
                                                                <h2>NingNing's Choice: Le Labo Another 13</h2>
                                                                <ul>
                                                                    <li>Notes: A bold and complex fusion of ambroxan,
                                                                        musk, and green notes.</li>
                                                                    <li>NingNing's selection of Le Labo Another 13 is a
                                                                        statement of bold individuality. The intriguing
                                                                        combination of ambroxan and musk creates a
                                                                        captivating and modern scent, mirroring
                                                                        NingNing's unique and fearless approach to her
                                                                        artistry.</li>
                                                                </ul>
                                                                <p>As aespa continues to carve its path in the music
                                                                    industry, the fragrances chosen by each member
                                                                    become an integral part of their artistic
                                                                    expression. These scents not only enhance their
                                                                    individuality but also contribute to the harmonious
                                                                    symphony that is aespa, weaving a fragrant narrative
                                                                    that resonates with fans around the world.</p>
                                                                <p>Explore the olfactory world of aespa through the
                                                                    scents that define each member's style, and discover
                                                                    how fragrance becomes an enchanting extension of
                                                                    their artistic identity.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Article 1 -->
                                    <div class="article mb-4">
                                        <div></div>
                                        <h1 class="mb-4">The Timeless Fragrances: Rediscovering Classics in a Modern
                                            World</h1>
                                        <p class="mb-4">Step into a fragrant time capsule as we explore the enduring
                                            charm of vintage fragrances. From the iconic scents that defined eras to the
                                            resurgence of classics in today's perfume landscape, join us on a nostalgic
                                            journey through the olfactory past. Click here to rediscover the timeless
                                            allure of vintage fragrances.</p>

                                        <div class="accordion" id="accordionFAQ1">
                                            <div class="accordion-item wow fadeIn" data-wow-delay="0.1s" id="Ar5">
                                                <h2 class="accordion-header" id="headingFour">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                                        aria-expanded="false" aria-controls="collapseFour">
                                                        Full Article
                                                    </button>
                                                </h2>
                                                <div id="collapseFour" class="accordion-collapse collapse"
                                                    aria-labelledby="headingFour" data-bs-parent="#accordionFAQ1">
                                                    <div class="accordion-body-for-article">
                                                        <div class="article">
                                                            <div class="header">
                                                                <h1>The Timeless Fragrances: Rediscovering Classics in a
                                                                    Modern World</h1>
                                                                <p>By Salomé Macom , Fragrance passionate</p>
                                                            </div>
                                                            <div class="article">
                                                                <p>Vintage fragrances hold an ethereal quality,
                                                                    encapsulating the spirit of bygone eras in every
                                                                    bottle. In today's fast-paced world, the allure of
                                                                    classics continues to captivate perfume enthusiasts,
                                                                    offering a fragrant journey through time.</p>
                                                                <h2>Chanel No. 5: The Elegance of Timelessness</h2>
                                                                <p>Introduction: Chanel No. 5, created in 1921, stands
                                                                    as an epitome of timeless elegance. With its blend
                                                                    of aldehydes, floral notes, and a touch of civet,
                                                                    this iconic fragrance has transcended generations,
                                                                    remaining a symbol of sophistication and allure.</p>
                                                                <h2>Shalimar by Guerlain: A Journey to the Exotic Orient
                                                                </h2>
                                                                <p>Introduction: Guerlain's Shalimar, introduced in
                                                                    1925, invites wearers on a journey to the exotic
                                                                    Orient. With its rich blend of citrus, vanilla, and
                                                                    opoponax, Shalimar is a testament to the enduring
                                                                    appeal of fragrances that tell a story beyond scent.
                                                                </p>
                                                                <h2>Opium by Yves Saint Laurent: The Bold and Sensual
                                                                    Revolution</h2>
                                                                <p>Introduction: Yves Saint Laurent's Opium, launched in
                                                                    1977, ignited a fragrance revolution with its bold
                                                                    and oriental composition. A blend of spices,
                                                                    florals, and resins, Opium remains a symbol of
                                                                    audacity and sensuality.</p>
                                                                <h2>Emeraude by Coty: A Nostalgic Olfactory Symphony
                                                                </h2>
                                                                <p>Introduction: Coty's Emeraude, dating back to 1921,
                                                                    evokes a sense of nostalgia with its oriental and
                                                                    woody notes. An olfactory symphony that transcends
                                                                    time, Emeraude captures the essence of vintage
                                                                    allure in every spritz.</p>
                                                                <h2>Joy by Jean Patou: A Spark of Radiance from the Past
                                                                </h2>
                                                                <p>Introduction: Jean Patou's Joy, created in 1929, is
                                                                    an embodiment of radiant floral luxury. With a
                                                                    bouquet of jasmine, rose, and ylang-ylang, Joy has
                                                                    remained a beacon of opulence and joyous celebration
                                                                    throughout the decades.</p>
                                                                <p>As we revisit these vintage fragrances, we not only
                                                                    appreciate their enduring appeal but also recognize
                                                                    the influence they continue to exert on contemporary
                                                                    perfumery. The scents of the past, carefully
                                                                    preserved and cherished, serve as a reminder that
                                                                    some fragrances are not just about smelling good;
                                                                    they are about embracing a piece of history and
                                                                    allowing it to unfold anew with each aromatic
                                                                    encounter.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Article 1 -->
                                    <div class="article mb-4">
                                        <div></div>
                                        <h1 class="mb-4">The Rise of Niche Perfumery: Unveiling the Hidden Gems of
                                            Artisanal Scents</h1>
                                        <p class="mb-4">Embark on a fragrant odyssey into the world of niche perfumery,
                                            where artisans craft scents with meticulous precision and passion. From
                                            unique compositions to the artistry behind each bottle, join us in
                                            uncovering the hidden gems that define the rise of niche fragrances. Click
                                            here to explore the exquisite world of artisanal scents.</p>

                                        <div class="accordion" id="accordionFAQ1">
                                            <div class="accordion-item wow fadeIn" data-wow-delay="0.1s">
                                                <h2 class="accordion-header" id="headingFive">
                                                    <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                                        aria-expanded="false" aria-controls="collapseFive">
                                                        Full Article
                                                    </button>
                                                </h2>
                                                <div id="collapseFive" class="accordion-collapse collapse"
                                                    aria-labelledby="headingFive" data-bs-parent="#accordionFAQ1">
                                                    <div class="accordion-body-for-article">
                                                        <div class="article">
                                                            <div class="header">
                                                                <h1>The Rise of Niche Perfumery: Unveiling the Hidden
                                                                    Gems of Artisanal Scents</h1>
                                                                <p>Kim PK , Prof.fragrance CEO</p>
                                                            </div>
                                                            <div class="article">
                                                                <p>In a world where individuality is celebrated, niche
                                                                    perfumery has emerged as a haven for fragrance
                                                                    connoisseurs seeking scents that transcend the
                                                                    mainstream. This article delves into the allure of
                                                                    niche fragrances and the artisans who craft these
                                                                    olfactory masterpieces.</p>
                                                                <h2>Le Labo: Personalized Perfumery with a Global Touch
                                                                </h2>
                                                                <p>Introduction: Le Labo, founded in 2006, redefines
                                                                    perfumery with its personalized approach. Each
                                                                    fragrance is hand-blended upon purchase, reflecting
                                                                    a commitment to individuality and a global olfactory
                                                                    experience.</p>
                                                                <h2>Byredo: A Fusion of Art and Fragrance</h2>
                                                                <p>Introduction: Byredo, established in 2006, blurs the
                                                                    lines between art and fragrance. Its unique
                                                                    compositions, such as Gypsy Water and Bal d'Afrique,
                                                                    showcase a commitment to creativity, making each
                                                                    scent an olfactory masterpiece.</p>
                                                                <h2>Diptyque: Timeless Elegance in Every Note</h2>
                                                                <p>Introduction: Diptyque, founded in 1961, epitomizes
                                                                    timeless elegance. With fragrances like Philosykos
                                                                    and Tam Dao, Diptyque crafts scents that transcend
                                                                    trends, embracing a sense of enduring
                                                                    sophistication.</p>
                                                                <h2>Amouage: Regal Scents from the Sultanate of Oman
                                                                </h2>
                                                                <p>Introduction: Amouage, originating from Oman in 1983,
                                                                    brings regal elegance to niche perfumery. Influenced
                                                                    by the rich heritage of the Sultanate, scents like
                                                                    Interlude and Jubilation XXV showcase a blend of
                                                                    tradition and innovation.</p>
                                                                <h2>Frederic Malle: The Perfume Publisher's Quest for
                                                                    Excellence</h2>
                                                                <p>Introduction: Frederic Malle, a pioneer in the
                                                                    industry, introduced the concept of the perfume
                                                                    publisher. Collaborating with renowned perfumers,
                                                                    fragrances like Portrait of a Lady and Musc Ravageur
                                                                    exemplify a commitment to uncompromising quality.
                                                                </p>
                                                                <p>As we explore the world of niche perfumery, it
                                                                    becomes evident that these artisanal scents are more
                                                                    than just fragrances; they are stories, expressions
                                                                    of creativity, and a testament to the boundless
                                                                    possibilities within the realm of olfactory
                                                                    artistry.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Navbar and Article Topic (1/4 of display) -->
            <div class="col-lg-3">
                <div class="container-xxl py-5">
                    <div class="container py-5">
                        <!-- Article Topics and Navbar content -->
                        <div class="mb-4 d-flex flex-column justify-content-start align-items-start">
                            <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Article Topics</div>

                            <ul class="list-unstyled">
                                <li><a href="#Ar1">Perfumes Type</a></li>
                                <li><a href="#Ar2">Every Occasion Fragrances</a></li>
                                <li><a href="#Ar3">aespa's Fragrance</a></li>
                                <li><a href="#Ar4">Timeless Fragrances</a></li>
                                <li><a href="#Ar5">Hidden Gems of Scents</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- article End -->

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 footer pt-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                    <a href="{{ url_for('index') }}" class="d-inline-block mb-3">
                        <h3 class="text-white">SCENTSPECTRUM</h3>
                    </a>
                    <p class="mb-0">Welcome to ScentSpectrum, where we celebrate the kaleidoscope of fragrances that add
                        color and depth to our lives. From subtle comforts to bold adventures, we curate a diverse range
                        of scents for every taste.</p>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                    <h5 class="text-white mb-4">Get In Touch</h5>
                    <p><i class="fa fa-map-marker-alt me-3"></i>Artificial Engineering, PSU</p>
                    <p><i class="fa fa-phone-alt me-3"></i>+0xx xxx xxxx</p>
                    <p><i class="fa fa-envelope me-3"></i>support@scentspectrum.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                    <h5 class="text-white mb-4">Popular Link</h5>
                    <a class="btn btn-link" href="{{ url_for('about') }}">About Us</a>
                    <a class="btn btn-link" href="{{ url_for('contact') }}">Contact Us</a>
                    <a class="btn btn-link" href="{{ url_for('login') }}">LOGIN</a>
                    <a class="btn btn-link" href="{{ url_for('register') }}">REGISTER</a>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                    <h5 class="text-white mb-4">Our Services</h5>
                    <a class="btn btn-link" href="{{ url_for('perfume') }}">Perfumes</a>
                    <a class="btn btn-link" href="{{ url_for('brand') }}">Brands</a>
                    <a class="btn btn-link" href="{{ url_for('idoluse') }}">Idoluse</a>
                    <a class="btn btn-link" href="{{ url_for('article') }}">Articles</a>
                </div>
            </div>
        </div>
        <div class="container wow fadeIn" data-wow-delay="0.1s">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">SCENTSPECTRUM</a>, All Right Reserved.

                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a> Distributed By
                        <a class="border-bottom" href="https://themewagon.com">ThemeWagon</a>
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a href="{{ url_for('index') }}">Home</a>
                            <a href="{{ url_for('faq') }}">FAQs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top pt-2"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/counterup/counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>

    <!-- Template Javascript -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>