<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylefaq.css') }}">
</head>
<body>
    <nav>
		<div class="container">
			<div class="nav-con">
				<div class="logo">
					<h1>SCENTSPECTRUM</h1>
				</div>
				<ul class="menu">
                    <li><a class="nav-link scrollto " href="/">home</a></li>
                    <li><a class="nav-link scrollto " href="/articles">articles</a></li>
                    <li><a class="nav-link scrollto " href="/brands">brands</a></li>
                    <li><a class="nav-link scrollto " href="/contact">contact</a></li>
                    <li><a class="nav-link scrollto " href="/faq">faq</a></li>
                    <li><a class="nav-link scrollto " href="/idoluse">idoluse</a></li>
                    <li><a class="nav-link scrollto " href="/perfumes">perfumes</a></li>
                    <li><a class="nav-link scrollto " href="/about">about</a></li>
                    <li><a class="nav-link scrollto " href="/login">login</a></li>
                    <li><a class="nav-link scrollto " href="/register">register</a></li>
				</ul>
			</div>
		</div>
	</nav>
</body>
</html>