<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Perfume</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{{ url_for('static', filename='img/header/logo.png') }}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{{ url_for('static', filename='lib/animate/animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <div class="container-fluid sticky-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark p-0">
                <a href="{{ url_for('index') }}" class="navbar-brand">
                    <h1 class="text-white">SCENTSPECTRUM</h1>
                </a>
                <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto">
                        <a href="{{ url_for('index') }}" class="nav-item nav-link active">Home</a>
                        <a href="{{ url_for('perfume') }}" class="nav-item nav-link">Perfumes</a>
                        <a href="{{ url_for('brand') }}" class="nav-item nav-link">Brands</a>
                        <a href="{{ url_for('idoluse') }}" class="nav-item nav-link">Idoluse</a>
                        <a href="{{ url_for('article') }}" class="nav-item nav-link">Articles</a>
                        <a href="{{ url_for('faq') }}" class="nav-item nav-link">FAQs</a>
                        <a href="{{ url_for('about') }}" class="nav-item nav-link">About</a>
                        <a href="{{ url_for('contact') }}" class="nav-item nav-link">Contact</a>
                        <a href="{{ url_for('login') }}" class="nav-item nav-link">LOGIN</a>
                        <a href="{{ url_for('register') }}" class="nav-item nav-link">REGISTER</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Hero Start -->
    <div class="container-fluid pt-5 bg-primary hero-header">
        <div class="container pt-5">
            <div class="row g-5 pt-5">
                <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
                    <h1 class="display-4 text-white mb-4 animated slideInRight">Perfumes</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center justify-content-lg-start mb-0">
                            <li class="breadcrumb-item"><a class="text-white" href="{{ url_for('index') }}">Home</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Perfumes</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 align-self-end text-center text-lg-end">
                    <img class="img-fluid" src="img/hero-img.png" alt="" style="max-height: 300px;">
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->

    <!-- Team Start -->
    <div class="container-fluid bg-light py-5">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                    <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Perfumes</div>
                    <h1 class="mb-4">The Perfect Unisex Fragrance for Every Occasion</h1>
                    <p class="mb-4">Are you on the quest for the ultimate unisex fragrance that seamlessly transitions from adventure to work, and from a night party to everyday use? Look no further! Discover the perfect scent that captures the essence of every occasion. Click here to delve into the world of versatile fragrances that add a touch of sophistication to your daily life.</p>
                    <a class="btn btn-primary rounded-pill px-4" href="">Read More</a>
                </div>
                <div class="col-lg-7">
                    <div class="row g-4">
                        <div class="col-md-6">
                            <div class="row g-4">
                                <div class="col-12 wow fadeIn" data-wow-delay="0.1s">
                                    <div class="team-item bg-white text-center rounded p-4 pt-0">
                                        <img class="img-fluid rounded-circle p-4" src="static/img/perfumes/aventus.png" alt="">
                                        <h5 class="mb-0">Creed Aventus</h5>
                                        <small>Adventure</small>
                                        <div class="d-flex justify-content-center mt-3">
                                        <a class="btn btn-primary rounded-pill px-4" href="https://creedboutique.com/products/aventus?variant=32812846743649">Purchase</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="team-item bg-white text-center rounded p-4 pt-0">
                                        <img class="img-fluid rounded-circle p-4" src="static/img/perfumes/Jazz _Club.png" alt="">
                                        <h5 class="mb-0">Maison Margiela</h5>
                                        <h5 class="mb-0">Replica - Jazz Club</h5>
                                        <small>Work</small>
                                        <div class="d-flex justify-content-center mt-3">
                                            <a class="btn btn-primary rounded-pill px-4" href="https://www.maisonmargiela-fragrances.us/fragrances/replica/replica-jazz-club/MM008.html">Purchase</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pt-md-4">
                            <div class="row g-4">
                                <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                                    <div class="team-item bg-white text-center rounded p-4 pt-0">
                                        <img class="img-fluid rounded-circle p-4" src="static/img/perfumes/Black Opium.png" alt="">
                                        <h5 class="mb-0">Yves Saint Laurent Black Opium</h5>
                                        <small>Night Party</small>
                                        <div class="d-flex justify-content-center mt-3">
                                            <a class="btn btn-primary rounded-pill px-4" href="https://www.yslbeautyth.com/en_TH/fragrance/fragrance-for-her/black-opium/black-opium-eau-de-parfum/WW-40701YSL.html">Purchase</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.7s">
                                    <div class="team-item bg-white text-center rounded p-4 pt-0">
                                        <img class="img-fluid rounded-circle p-4" src="static/img/perfumes/Gabrielle.png" alt="">
                                        <h5 class="mb-0">Chanel Gabrielle Chanel</h5>
                                        <small>Fit for Every Situation</small>
                                        <div class="d-flex justify-content-center mt-3">
                                            <a class="btn btn-primary rounded-pill px-4" href="https://www.chanel.com/th/fragrance/women/c/7x1x1x40/gabrielle-chanel/">Purchase</a>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Team End -->

<!-- Team Start -->
<div class="container-fluid bg-light py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-12">
                <div class="row g-4">
                    <!-- Team Member 1 -->
                    <div class="col-md-3 wow fadeIn" data-wow-delay="0.1s">
                        <div class="team-item bg-white text-center rounded p-4 pt-0">
                            <img class="img-fluid rounded-circle p-4" src="static/img/perfumes/Sauvage.png" alt="">
                            <h5 class="mb-0">Dior Sauvage</h5>
                            <small>Dior</small>
                            <div class="d-flex justify-content-center mt-3">
                                <a class="btn btn-primary rounded-pill px-4" href="https://shop.dior.co.th/en/collections/sauvage">Purchase</a>
                            </div>
                        </div>
                    </div>

                    <!-- Team Member 2 -->
                    <div class="col-md-3 wow fadeIn" data-wow-delay="0.5s">
                        <div class="team-item bg-white text-center rounded p-4 pt-0">
                            <img class="img-fluid rounded-circle p-4" src="static/img/perfumes/Bleu de.png" alt="">
                            <h5 class="mb-0">Bleu de Chanel</h5>
                            <small>Chanel</small>
                            <div class="d-flex justify-content-center mt-3">
                                <a class="btn btn-primary rounded-pill px-4" href="https://www.chanel.com/th/fragrance/p/107360/bleu-de-chanel-eau-de-parfum-spray/">Purchase</a>
                            </div>
                        </div>
                    </div>

                    <!-- Team Member 3 -->
                    <div class="col-md-3 wow fadeIn" data-wow-delay="0.3s">
                        <div class="team-item bg-white text-center rounded p-4 pt-0">
                            <img class="img-fluid rounded-circle p-4" src="static/img/perfumes/Acquadi.png" alt="">
                            <h5 class="mb-0">Acqua di Giò Profumo</h5>
                            <small>Giorgio Armani</small>
                            <div class="d-flex justify-content-center mt-3">
                                <a class="btn btn-primary rounded-pill px-4" href="https://www.giorgioarmanibeauty-usa.com/fragrances/mens-cologne/acqua-di-gio-eau-de-parfum/ww-00631-arm.html">Purchase</a>
                            </div>
                        </div>
                    </div>

                    <!-- Team Member 4 -->
                    <div class="col-md-3 wow fadeIn" data-wow-delay="0.7s">
                        <div class="team-item bg-white text-center rounded p-4 pt-0">
                            <img class="img-fluid rounded-circle p-4" src="static/img/perfumes/OudWood.png" alt="">
                            <h5 class="mb-0">Oud Wood</h5>
                            <small>Tom Ford</small>
                            <div class="d-flex justify-content-center mt-3">
                                <a class="btn btn-primary rounded-pill px-4" href="https://www.tomford.com/oud-wood-eau-de-parfum/T1-OUD-WOOD.html">Purchase</a>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Team Member 1 -->
                    <div class="col-md-3 wow fadeIn" data-wow-delay="0.1s">
                        <div class="team-item bg-white text-center rounded p-4 pt-0">
                            <img class="img-fluid rounded-circle p-4" src="static/img/perfumes/Mademoiselle.png" alt="">
                            <h5 class="mb-0">Coco Mademoiselle</h5>
                            <small>Chanel</small>
                            <div class="d-flex justify-content-center mt-3">
                                <a class="btn btn-primary rounded-pill px-4" href="https://www.chanel.com/us/fragrance/p/116520/coco-mademoiselle-eau-de-parfum-spray/">Purchase</a>
                            </div>
                        </div>
                    </div>

                    <!-- Team Member 2 -->
                    <div class="col-md-3 wow fadeIn" data-wow-delay="0.5s">
                        <div class="team-item bg-white text-center rounded p-4 pt-0">
                            <img class="img-fluid rounded-circle p-4" src="static/img/perfumes/Flowerbomb.png" alt="">
                            <h5 class="mb-0">Flowerbomb</h5>
                            <small>Viktor & Rolf</small>
                            <div class="d-flex justify-content-center mt-3">
                                <a class="btn btn-primary rounded-pill px-4" href="https://us.viktor-rolf.com/fragrance/flowerbomb-eau-de-parfum-VKR_002.html">Purchase</a>
                            </div>
                        </div>
                    </div>

                    <!-- Team Member 3 -->
                    <div class="col-md-3 wow fadeIn" data-wow-delay="0.3s">
                        <div class="team-item bg-white text-center rounded p-4 pt-0">
                            <img class="img-fluid rounded-circle p-4" src="static/img/perfumes/Pear&Freesia.png" alt="">
                            <h5 class="mb-0">English Pear & Freesia</h5>
                            <small>Jo Malone</small>
                            <div class="d-flex justify-content-center mt-3">
                                <a class="btn btn-primary rounded-pill px-4" href="https://www.jomalone.co.th/scents/fruity/english-pear-freesia">Purchase</a>
                            </div>
                        </div>
                    </div>

                    <!-- Team Member 4 -->
                    <div class="col-md-3 wow fadeIn" data-wow-delay="0.7s">
                        <div class="team-item bg-white text-center rounded p-4 pt-0">
                            <img class="img-fluid rounded-circle p-4" src="static/img/perfumes/La_Vie_Est.png" alt="">
                            <h5 class="mb-0">La Vie Est Belle</h5>
                            <small>Lancôme</small>
                            <div class="d-flex justify-content-center mt-3">
                                <a class="btn btn-primary rounded-pill px-4" href="https://www.lancome.co.th/th_TH/fragrance/น้ำหอมผู้หญิง/la-vie-est-belle/la-vie-est-belle-perfume/00027-LAC.html">Purchase</a>
                            </div>
                        </div>
                    </div>

                    <!-- Team Member 1 -->
                    <div class="col-md-3 wow fadeIn" data-wow-delay="0.1s">
                        <div class="team-item bg-white text-center rounded p-4 pt-0">
                            <img class="img-fluid rounded-circle p-4" src="static/img/perfumes/Bloom.png" alt="">
                            <h5 class="mb-0">Gucci Bloom</h5>
                            <small>Gucci</small>
                            <div class="d-flex justify-content-center mt-3">
                                <a class="btn btn-primary rounded-pill px-4" href="https://www.gucci.com/us/en/pr/gifts/gifts-for-women/accessories-for-women/gucci-bloom-100ml-eau-de-parfum-p-488830999990099">Purchase</a>
                            </div>
                        </div>
                    </div>

                    <!-- Team Member 2 -->
                    <div class="col-md-3 wow fadeIn" data-wow-delay="0.5s">
                        <div class="team-item bg-white text-center rounded p-4 pt-0">
                            <img class="img-fluid rounded-circle p-4" src="static/img/perfumes/Santal_33.png" alt="">
                            <h5 class="mb-0">Santal 33</h5>
                            <small>Le Labo</small>
                            <div class="d-flex justify-content-center mt-3">
                                <a class="btn btn-primary rounded-pill px-4" href="https://www.lelabofragrances.com/santal-33-147.html">Purchase</a>
                            </div>
                        </div>
                    </div>

                    <!-- Team Member 3 -->
                    <div class="col-md-3 wow fadeIn" data-wow-delay="0.3s">
                        <div class="team-item bg-white text-center rounded p-4 pt-0">
                            <img class="img-fluid rounded-circle p-4" src="static/img/perfumes/Gypsy_Water.png" alt="">
                            <h5 class="mb-0">Gypsy Water</h5>
                            <small>Byredo</small>
                            <div class="d-flex justify-content-center mt-3">
                                <a class="btn btn-primary rounded-pill px-4" href="https://www.byredo.com/eu_en/gypsy-water-eau-de-parfum-50ml">Purchase</a>
                            </div>
                        </div>
                    </div>

                    <!-- Team Member 4 -->
                    <div class="col-md-3 wow fadeIn" data-wow-delay="0.7s">
                        <div class="team-item bg-white text-center rounded p-4 pt-0">
                            <img class="img-fluid rounded-circle p-4" src="static/img/perfumes/Molecule_01.png" alt="">
                            <h5 class="mb-0">Molecule 01</h5>
                            <small>Escentric Molecules</small>
                            <div class="d-flex justify-content-center mt-3">
                                <a class="btn btn-primary rounded-pill px-4" href="https://www.escentric.com/collections/escentric-molecules-01/products/molecule-01-100ml">Purchase</a>
                            </div>
                        </div>
                    </div>

                    <!-- Team Member 1 -->
                    <div class="col-md-3 wow fadeIn" data-wow-delay="0.1s">
                        <div class="team-item bg-white text-center rounded p-4 pt-0">
                            <img class="img-fluid rounded-circle p-4" src="static/img/perfumes/Beach_Walk.png" alt="">
                            <h5 class="mb-0">Replica Beach Walk</h5>
                            <small>Maison Margiela</small>
                            <div class="d-flex justify-content-center mt-3">
                                <a class="btn btn-primary rounded-pill px-4" href="https://www.maisonmargiela-fragrances.us/fragrances/replica/replica-beach-walk/MM003.html">Purchase</a>
                            </div>
                        </div>
                    </div>

                    <!-- Team Member 2 -->
                    <div class="col-md-3 wow fadeIn" data-wow-delay="0.5s">
                        <div class="team-item bg-white text-center rounded p-4 pt-0">
                            <img class="img-fluid rounded-circle p-4" src="static/img/perfumes/Black_Pepper.png" alt="">
                            <h5 class="mb-0">Black Pepper</h5>
                            <small>Comme des Garçons</small>
                            <div class="d-flex justify-content-center mt-3">
                                <a class="btn btn-primary rounded-pill px-4" href="https://www.comme-des-garcons.de/en/products/blackpepper-eau-de-parfum">Purchase</a>
                            </div>
                        </div>
                    </div>

                    <!-- Team Member 3 -->
                    <div class="col-md-3 wow fadeIn" data-wow-delay="0.3s">
                        <div class="team-item bg-white text-center rounded p-4 pt-0">
                            <img class="img-fluid rounded-circle p-4" src="static/img/perfumes/La_Nuit_de.png" alt="">
                            <h5 class="mb-0">La Nuit de l'Homme</h5>
                            <small>Yves Saint Laurent</small>
                            <div class="d-flex justify-content-center mt-3">
                                <a class="btn btn-primary rounded-pill px-4" href="https://www.yslbeauty.com/int/fragrance/fragrance-for-him/la-nuit-de-l-homme/la-nuit-de-l-homme-eau-de-parfum/WW-50356YSL.html">Purchase</a>
                            </div>
                        </div>
                    </div>

                    <!-- Team Member 4 -->
                    <div class="col-md-3 wow fadeIn" data-wow-delay="0.7s">
                        <div class="team-item bg-white text-center rounded p-4 pt-0">
                            <img class="img-fluid rounded-circle p-4" src="static/img/perfumes/Terre.png" alt="">
                            <h5 class="mb-0">Terre d'Hermès</h5>
                            <small>Hermès</small>
                            <div class="d-flex justify-content-center mt-3">
                                <a class="btn btn-primary rounded-pill px-4" href="https://www.hermes.com/us/en/product/terre-d-hermes-parfum-V107757V0/">Purchase</a>
                            </div>
                        </div>
                    </div>

                    <!-- Team Member 1 -->
                    <div class="col-md-3 wow fadeIn" data-wow-delay="0.1s">
                        <div class="team-item bg-white text-center rounded p-4 pt-0">
                            <img class="img-fluid rounded-circle p-4" src="static/img/perfumes/Light_Blue.png" alt="">
                            <h5 class="mb-0">Light Blue</h5>
                            <small>Dolce & Gabbana</small>
                            <div class="d-flex justify-content-center mt-3">
                                <a class="btn btn-primary rounded-pill px-4" href="https://www.dolcegabbana.com/en-us/beauty/perfumes-for-him/light-blue-pour-homme/dolce-and-gabbana-light-blue-pour-homme-eau-de-toilette-in---VP6846VP1059V000.html">Purchase</a>
                            </div>
                        </div>
                    </div>

                    <!-- Team Member 2 -->
                    <div class="col-md-3 wow fadeIn" data-wow-delay="0.5s">
                        <div class="team-item bg-white text-center rounded p-4 pt-0">
                            <img class="img-fluid rounded-circle p-4" src="static/img/perfumes/Philosykos.png" alt="">
                            <h5 class="mb-0">Philosykos</h5>
                            <small>Diptyque</small>
                            <div class="d-flex justify-content-center mt-3">
                                <a class="btn btn-primary rounded-pill px-4" href="https://www.diptyqueparis.com/en_us/c/philosykos-collection.html">Purchase</a>
                            </div>
                        </div>
                    </div>

                    <!-- Team Member 3 -->
                    <div class="col-md-3 wow fadeIn" data-wow-delay="0.3s">
                        <div class="team-item bg-white text-center rounded p-4 pt-0">
                            <img class="img-fluid rounded-circle p-4" src="static/img/perfumes/Candy.png" alt="">
                            <h5 class="mb-0">Candy</h5>
                            <small>Prada</small>
                            <div class="d-flex justify-content-center mt-3">
                                <a class="btn btn-primary rounded-pill px-4" href="https://www.prada-beauty.com/fragrance/candy/candy-eau-de-parfum/MPL01333.html">Purchase</a>
                            </div>
                        </div>
                    </div>

                    <!-- Team Member 4 -->
                    <div class="col-md-3 wow fadeIn" data-wow-delay="0.7s">
                        <div class="team-item bg-white text-center rounded p-4 pt-0">
                            <img class="img-fluid rounded-circle p-4" src="static/img/perfumes/Black_Orchid.png" alt="">
                            <h5 class="mb-0">Black Orchid</h5>
                            <small>Tom Ford</small>
                            <div class="d-flex justify-content-center mt-3">
                                <a class="btn btn-primary rounded-pill px-4" href="https://www.tomford.com/black-orchid-eau-de-parfum/8806600007.html">Purchase</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 footer pt-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                    <a href="{{ url_for('index') }}" class="d-inline-block mb-3">
                        <h3 class="text-white">SCENTSPECTRUM</h3>
                    </a>
                    <p class="mb-0">Welcome to ScentSpectrum, where we celebrate the kaleidoscope of fragrances that add color and depth to our lives. From subtle comforts to bold adventures, we curate a diverse range of scents for every taste.</p>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                    <h5 class="text-white mb-4">Get In Touch</h5>
                    <p><i class="fa fa-map-marker-alt me-3"></i>Artificial Engineering, PSU</p>
                    <p><i class="fa fa-phone-alt me-3"></i>+0xx xxx xxxx</p>
                    <p><i class="fa fa-envelope me-3"></i>support@scentspectrum.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                    <h5 class="text-white mb-4">Popular Link</h5>
                    <a class="btn btn-link" href="{{ url_for('about') }}">About Us</a>
                    <a class="btn btn-link" href="{{ url_for('contact') }}">Contact Us</a>
                    <a class="btn btn-link" href="{{ url_for('login') }}" >LOGIN</a>
                    <a class="btn btn-link" href="{{ url_for('register') }}" >REGISTER</a>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                    <h5 class="text-white mb-4">Our Services</h5>
                    <a class="btn btn-link" href="{{ url_for('perfume') }}">Perfumes</a>
                    <a class="btn btn-link" href="{{ url_for('brand') }}">Brands</a>
                    <a class="btn btn-link" href="{{ url_for('idoluse') }}">Idoluse</a>
                    <a class="btn btn-link" href="{{ url_for('article') }}">Articles</a>
                </div>
            </div>
        </div>
        <div class="container wow fadeIn" data-wow-delay="0.1s">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">SCENTSPECTRUM</a>, All Right Reserved.

                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a> Distributed By <a class="border-bottom" href="https://themewagon.com">ThemeWagon</a>
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a href="{{ url_for('index') }}">Home</a>
                            <a href="{{ url_for('faq') }}">FAQs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top pt-2"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/counterup/counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>

    <!-- Template Javascript -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>